<!DOCTYPE html>
<html lang=”en”>

<head>
    <meta charset=”UTF-8″ />
    <meta http-equiv="X-UA-Compatible" content="IE-Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documento</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>


<body class="body">

    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./images/logo-mercado-liebre.svg" class="logo" />
            <form class="search-bar "action="">
                <input type="search" name="search" id="search">
                <button type="submit" id="search-button"><i class="fas fa-search"></i>
                </button>

            </form>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>
                        <a href="" class="burger-menu">
                            <i class="fas fa-bars"></i>
                        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>

        
    </header>
    
    <div>
        <img src="./images/img-home-banner.jpg" width="100%" alt="">
    </div>
    
    <main>
        <section>
            <h2 class="titulares"><strong>Basado en tu última visita</strong>
            </h2>
            <section class="section-visita">
                <article class="article">
                        <img class="img" src="./images/img-cafetera-moulinex.jpg"  alt="">
                    <div class="div-article">
                        <i class= "delivery-icon fas fa fa-truck"></i>
                        <p class="price">$ 6.760</p>
                        <p class="off">40% OFF</p>
                        <h3><b>Cafetera Moulinex</b></h3>
                    </div>
                </article>
    
                <article class="article">
                        <img class="img" src="./images/img-macbook-pro-2019.jpg" alt="">
                    <div class="div-article">
                        <i class= "delivery-icon fas fa fa-truck"></i>
                        <p class="price">$ 230.000</p>
                        <p class="off">20% OFF</p>
                        <h3><b>Mac Book Pro 2019</b></h3>
                    </div>
                </article>
    
                <article class="article">
                        <img class="img" src="./images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="div-article">
                        <i class="delivery-icon fas fa-truck"></i>
                        <p class="price">$ 70.500</p>
                        <p class="off">10% OFF</p>
                        <h3><b>Samsung Galaxy S10</b></h3>
                    </div>
                </article>
    
                <article class="article">
                        <img class="img" src="./images/img-tv-samsung-smart.jpg" alt="">
                    <div class="div-article">
                        <i class="delivery-icon fas fa-truck"></i>
                        <p class="price">$ 23200</p>
                        <p class="off">5% OFF</p>
                        <h3><b>Smart TV Samsung 43"</b></h3>
                    </div>
                </article>
            </section>
        </section>
    
        <section>
            <h2 class="titulares">Ofertas</h2>
            <section class="section-oferta">
                <article class="article">
                        <img class="img" src="./images/img-cafetera-moulinex.jpg" alt="">
                    <div class="div-article">
                        <i class="delivery-icon fas fa fa-truck"></i>
                        <p class="price">$ 6.760</p>
                        <p class="off">40% OFF</p>
                        <h3><b>Cafetera Moulinex</b></h3>
                    </div>
                </article>
    
                <article class="article">
                        <img class="img" src="./images/img-macbook-pro-2019.jpg" alt="">
                    <div class="div-article">
                        <i class="delivery-icon fas fa fa-truck"></i>
                        <p class="price">$ 230.000</p>
                        <p class="off">20% OFF</p>
                        <h3><b>Mac Book Pro 2019</b></h3>
                    </div>
                </article>
    
                <article class="article">
                        <img class="img" src="./images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="div-article">
                        <i class="delivery-icon fas fa-truck"></i>
                        <p class="price">$ 70.500</p>
                        <p class="off">10% OFF</p>
                        <h3><b>Samsung Galaxy S10</b></h3>
                    </div>
                </article>
    
                <article class="article">
                        <img class="img" src="./images/img-tv-samsung-smart.jpg" alt="">
                    <div class="div-article">
                        <i class="delivery-icon fas fa-truck"></i>
                        <p class="price">$ 23200</p>
                        <p class="off">5% OFF</p>
                        <h3><b>Smart TV Samsung 43"</b></h3>
                    </div>
                </article>
            </section>
        </section>
    </main>
    
    <footer class="footer">
        
            <section class="footer-section">
                <p class="footer-icon"><i class="fas fa-credit-card"></i></p>
                <h3><b>Paga con tarjeta o en efectivo</b></h3>
                <p>Con Mercado LiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                    ¡Y siempre es seguro!</p>
            </section>
    
            <section class="footer-section">
                <p class="footer-icon"><i class="fas fa-gift"></i></p>
                <h3><b>Envíos gratis desde $ 2.500</b></h3>
                <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos</p>
            </section>
    
            <section class="footer-section">
                <p class="footer-icon"><i class="fas fa-user-shield"></i></p>
                <h3><b>Seguridad de principio a fin</b></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegido@</p>
            </section>
    
            <section class="copyright">
                <h4><b>Copyright © 1999-2022 Mercado Liebre S.R.L</b></h4>
            </section>
        
    </footer>
    </body>
    
    </html>
    
    </section>
    </footer>
    
    </html>